* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #0c111b;
  position: relative;

  font-family: roboto, san-serif;
}
.navbar {
  width: 100%;
  height: 10%;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 4%;
  background: blue;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.brand-logo {
  width: 70px;
}

.nav-links {
  margin-top: 10px;
  list-style: None;
  display: flex;
}

.nav-items a {
  text-decoration: None;
  margin-left: 20px;
  text-transform: capitalize;
  color: white;
  opacity: 0.9;
}
.right-container {
  display: block;
  margin-left: auto;
  /* margin: 50px; */
}

.search-box {
  border: none;
  border-bottom: 1 px solid #aaa;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 700;

  transition: 0.5s;
}
.search-box:focus {
  width: 350px;
  text-decoration:overline;
  border-color: #b7d31a;
  border-bottom: 4px solid yellow;
  text-decoration-color: rgb(251, 247, 8);

  /* border-bottom: 3px solid blue; */
}
.sub-btn{
  background:#0fd1f3;
  height:4vh;
  padding: 0 20px;
  color: #fff;
  border-radius: 20px;
  border:None;
  outline:none;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  margin:0 10px; 
}

.login-link{
  color:#e91313;
  /* margin-left:auto; */
  opacity: 0.9;
  height: 3vw;
  text-transform: 18px;
  font-weight:900;
  font-size: 2.5vh;
  text-decoration: none;
  
}
.logo{
  width: 10vw;
  height: 9vh;
}
@media (min-width: 500px) and (max-width: 920px){ 
  .right-container{
    margin-left: 8vw;
  }
  .right-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
      
    /* align-items: start; */
    align-items: center;
    align-content:center; 
  }
  .sub-btn{margin: 10px;}
  .search-box{
    width: 70px;
  }
  .search-box:focus {
    width: 100px;
    border-color: #9ae701;
  
    border-bottom: 4px solid rgb(9, 216, 71);
  }
  .navbar{ 
    height:15%;
    font-size: larger;
    /* margin-bottom: 500px; */
    /* padding-bottom: 100px; */
  }
  .carousel-container{
    top: 3vh;
    
  }
}
/* @media (min-width:900px) and(max) */
.carousel-container{
  position: relative;
  width:100%;
  height:450px;
  padding:20px 0;
  overflow-x: hidden;
  margin-top:60px;

}
.carousel{
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
}
.slider{
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}
.slider-img{
  width: 70%;
  min-width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  


}
.slide-content{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right ,#030b17 20%, #0c111b00);
  color: #fff ; 
  /* between text and image */

}
.movie-title{
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des{
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}